.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Circle */

.circle {
  background-color: white;
  position: fixed;
  width: 150vw;
  bottom: 20%;
  height: 150vw;
  transform: rotate(90deg);
  border-radius: 154rem;
  color: black;
  z-index: -1;
}

.goback-button {
  position: absolute;
  width: 100%;
  height: 4vh;
  background: #b2675e;
  border: none;
  color: #efead8;
}

/* Title */
.title {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  color: #2a3b3d;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  letter-spacing: 0.1rem;
  margin-top: 3.5rem;
}

/* Pom Timer */

.pom-container {
  display: flex;
  margin: 7rem;
  justify-content: center;
}

.pomodoro-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #efead8;
  height: 250px;
  background: #b2675e;
  width: 500px;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.timer-text {
  font-size: 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  margin-top: -5px;
}

.buttons-container {
  display: flex;
  gap: 30px;
}

.timer-button,
.todo-list__add-btn,
.main-todo-button,
.main-note-button {
  border: none;
  border-radius: 0.5rem;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.timer-button,
.todo-list__add-btn {
  background-color: #b2675e;
  color: #efead8;
  padding: 15px 30px;
}

.timer-button:hover,
.todo-list__add-btn:hover {
  background-color: #d09d97;
}

.main-todo-button:hover,
.main-note-button:hover {
  background-color: #d09d97;
  color: #efead8;
}

.main-todo-button,
.main-note-button {
  background-color: #efead8;
  color: #b2675e;
  padding: 15px 16px;
}

/* TodoWindow */

.todo-button {
  position: relative;
  bottom: 315px;
  left: 180px;
}

.todo-list {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 300px;
  height: 400px;
  background-color: #efead8;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.todo-list--collapsed {
  height: 50px;
}

.todo-buttons {
  display: flex;
}

.todo-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  color: #fff;
  background-color: #2a3b3d;
}

.todo-list-close-btn {
  font-size: 15px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #fff;
}

.todo-list-content {
  height: calc(100% - 50px);
  overflow-y: auto;
}

.todo-list-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.todo-list-item:last-child {
  border-bottom: none;
}

.todo-list-remove-btn {
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #5f7161;
}

.todo-list-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.todo-list-input {
  flex: 1;
  height: 30px;
  padding: 5px;
  margin-right: 10px;
  border: none;
  background-color: #fff;
}

.todo-list-add-btn {
  height: 30px;
  padding: 5px 10px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
}

/* bounce person */

.person-image {
  animation: bounce 0.9s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
  margin: -70px;
}

.person-image img {
  max-width: 400px;
}

.person-image {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 1s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(1, 1, 1, 1);
  -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 30px, 0);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}

/* Note */

.note-button {
  position: relative;
  bottom: 262px;
  right: 180px;
}

.note {
  position: absolute;
  top: 200px;
  right: 300px;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #efead8;
  border-radius: 2rem;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px;
}

.note-text {
  width: 245px;
  height: 70%;
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 20px;
  border: none;
  color: #2a3b3d;
  background-color: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.collapse-button {
  position: absolute;
  background: none;
  font-size: 30px;
  border: none;
  color: #5f7161;
  top: 11px;
  left: 214px;
}

.note--collapsed {
  height: 60px;
}

.note-buttons {
  display: flex;
}

div.note textarea:focus {
  outline: none;
}

div.note button.close-button {
  background: none;
  border: none;
  color: #5f7161;
  position: absolute;
  left: 250px;
  top: 10px;
  font-size: 28px;
}

@media (max-width: 700px) {
  .note-button {
    display: none;
  }
  .todo-button {
    bottom: 400px;
    left: 0px;
  }
  .todo-list {
    top: 955px;
    right: 328px;
  }
}

/* Media Query */

@media (max-width: 480px) {
  .pomodoro-timer {
    width: 300px;
  }
  .pom-container {
    margin: 7rem;
  }
  .person-image {
    margin-top: -140px;
  }
  .todo-button {
    bottom: 407px;
    left: 0px;
  }
  .note-button {
    display: none;
  }
  .todo-list {
    top: 955px;
    right: 328px;
  }
  .note {
    position: absolute;
    bottom: 400px;
    left: 200px;
  }
  .circle {
    bottom: 50%;
  }
  .option-add-button {
    height: 7vw;
    width: 10vw;
  }
}
