.title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #2a3b3d;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  letter-spacing: 0.1rem;
  text-align: center;
}

.character-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.characters img {
  width: 300px;
}

.character-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b2675e;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 2rem;
  transition: all 0.3s ease-in-out;
}

.character-box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.arrow-button-left,
.arrow-button-right {
  background: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #2a3b3d;
  padding: 12px 15px;
}

.selected {
  background-color: #efead8;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.select-box {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.select-box p {
  color: #2a3b3d;
  font-size: 2rem;
  width: 300px;
  text-align: center;
}

.confirm-button {
  border: none;
  border-radius: 0.5rem;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #b2675e;
  color: #efead8;
  padding: 15px 30px;
}

.confirm-button:hover {
  background-color: #d09d97;
}

@media (max-width: 1200px) {
  .characters img {
    width: 20vw;
  }
}

@media (max-width: 750px) {
  .characters img {
    width: 15vw;
  }
  .character-box {
    margin: 1rem;
  }
}

@media (max-width: 600px) {
  .characters {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: none;
  }
  .arrow-button-left,
  .arrow-button-right {
    position: relative;
    bottom: -125px;
  }
  .arrow-button-right {
    right: 140px;
  }
  .arrow-button-left {
    left: 140px;
  }
  .characters img {
    width: 90px;
  }
  .character-box {
    margin: 0.5rem;
  }
  .select-box {
    padding: 80px;
  }
}
